{% extends "layout.html" %}
{% block content %}
<body id="login">
  <!-- javascript here for quick loading / bootup page -->
  <!--
  <div id="splash">
    <img src="images/loading-screen-logo.png" alt="" class="logo">
  </div> -->


  <div class="content">
    <form class="homebox" action="userfeed.html">
      <!-- big circle -->
      <img src="../static/images/corner-circle.png" alt="Corner Circle" width="209" height="209" style="position: absolute; left: 35%;
      top: -10%;">

      <!-- small circle -->
      <img src="../static/images/mini-circle.png" alt="mini Circle" width="46" height="46" style="position: absolute; left: 5%;
      top: -10%;">


      <div class="welcome">
        <h1>Welcome Back!</h1>
      </div>

      <input type="text" name="" placeholder="Email" id="username">
      <input type="password" name="" placeholder="Password" id="password">

      <input type="submit" name="" value="Log In" id="homelogin">

    </form>
  </div>

</body>
{% endblock content %}
