{% extends "layout.html" %}
{% block content %}
<body id="index">
  <!-- javascript here for quick loading / bootup page -->
  <!--
  <div id="splash">
    <img src="images/loading-screen-logo.png" alt="" class="logo">
  </div> -->


  <div class="content">
    <form class="box" action="home.html">
      <!-- <h1>Login</h1> -->

      <!-- <input type="text" name="" placeholder="Email" id="username">
      <input type="password" name="" placeholder="Password" id="password"> -->

      <h1 id="stuSell">StudentSell</h1>
      <p id="desc">Buy and sell items right from your college campus!</p>

      <div class="loginButtons">
        <input type="submit" name="" value="Log In" id="login">
        <input type="submit" name="" value="Sign Up" id="signup" >

      </div>

    </form>
  </div>

</body>
{% endblock content %}
