{% extends "layout.html" %}
{% block content %}
<body id="feed">
  <!-- javascript here for quick loading / bootup page -->
  <!--
  <div id="splash">
    <img src="images/loading-screen-logo.png" alt="" class="logo">
  </div> -->


  <div class="content">
    <form class="userfeedbox" action="userfeed.html">


      <div class="userfeed">
        {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.user }} for {{ post.price }} </p>
        <p>{{ post.content }}</p>
        {% endfor %}



      </div>

    </form>
  </div>

</body>
{% endblock content %}
